.show_team{width: 100%;}
.show_team h2{line-height: 31px;font-size: 18px;}
.show_team .top_theme{border-bottom: 1px solid #e5e5e5;height: 52px;text-align: center;}
.show_team h2 strong:last-child{padding-left: 12px;}
.show_team .top_title_warp{width: 100%;text-align: center;}
.show_team .top_title_warp .top_title{margin-top: 38px;margin-bottom: 58px;}
.show_team .top_title_warp .top_title li{display: inline-block;margin-right: 34px;color: #999999;}
.show_team .top_title_warp .top_title li span{padding-left: 21px;background: url(../images/thems/eye.png)no-repeat left;}
.show_team .details_co{}
.show_team .details_co p{color: #797979;line-height: 23px;}
.show_team .details_co .p_other{line-height: 36px;}
.show_team .personal{width: 100%;text-align: center;margin: 22px 0 40px;}
.show_team .personal img{width: 40%;}
.show_team .details_co .pm{margin-bottom: 35px;}

.vision{width: 100%;}
.vision .list_vision{width: 100%;height: auto;position: relative;}
.vision .vision_p{position: absolute;left: 0;top: 100px;width: 762px;height: 100px;background: url(../images/thems/banbg.png)no-repeat;}
.vision .vision_p p{padding-left: 30px;line-height: 29px;margin-top: 20px;color: #fff;}
.vision .vision_img{position: absolute;right: 0;top: 49px;}
.vision .vision_oath{position: absolute;left: 30px;top: 230px;}
.vision .vision_oath li{background: url(../images/thems/vision_yes.png)no-repeat left;padding-left: 66px;margin-bottom: 9px;height: 45px;line-height: 45px;color: #929292;}
.zi_right{min-height: 912px;}

.contact_us{width: 100%;}
.contact_us .contact_co{}
.contact_us .contact_co>div:first-child{margin: 39px 0;}
.contact_us .contact_co>div dl{margin-bottom: 55px;}
.contact_us .contact_co>div dl dt{line-height: 46px;font-size: 16px;color: #004ea6;}
.contact_us .contact_co>div dl dd{line-height: 28px;color: #7f7f7f;}
.contact_us .contact_co>div dl dd span{padding-right: 10px;}

.core_values{width: 100%;}
.core_values>div:first-child{margin-top: 34px;}
.core_values dl{margin-bottom: 28px;}
.core_values dl dt{line-height: 30px;color: #707070;}
.core_values dl dd{line-height: 30px;color: #8b8b8b;}
.core_values>div:first-child dl dd{line-height: 24px;}
.core_values>div:first-child dl dt{line-height: 34px;}

.product_center_ul .pro_text dl{width: 90%;margin: 0 auto;padding-bottom: 32px;}
.product_center_ul .pro_text dd{line-height: 24px;color: #919191;}
.product_center_ul .pro_text dl dt{margin-bottom: 21px;font-size: 20px;width: 100%;text-align: center;border-bottom: 1px dashed #bebebe;padding-bottom: 19px;color: #1e3e7a;}
.product_center_ul .pro_text dd i:first-child{float: left;}
.product_center_ul .pro_text dd i:last-child{float: right;}
.product_center_ul .pro_text dd i{display: inline-block;width: 44%;background: url(../images/thems/groeth_dian.jpg)no-repeat left;padding-left: 14px;}

.intro_hea{width: 100%;margin-bottom: 68px;float: left;}
.intro_hea>div{float: left;}
.intro_hea>div:first-child{padding-left: 30px;}
.intro_hea>div:last-child{padding-left: 52px;}
.intro_hea .intro_hea_rl dl{color: #858585;}
.intro_hea .intro_hea_rl dt{line-height: 40px;margin-bottom: 17px;}
.intro_hea .intro_hea_rl  dd{line-height: 25px;}
.intro_hea .intro_hea_rl strong{color: #6d6d6d;}


.advantage{clear: both;width: 100%;}
.advantage h4{font-size: 16px;font-weight: 600;padding-bottom: 14px;border-bottom: 1px dashed #dfdfdf;margin-bottom: 14px;}
.advantage p{color: #7f7f7f;}
.advantage .advantage_fs{line-height: 20px;}
.advantage .advantage_ls{line-height: 30px;margin-bottom: 28px;}
.advantage span{color: #ff9e11;}
.advantage h5{margin-bottom: 28px;color: #777777;background: url(../images/thems/qbig.png)no-repeat left;padding-left: 15px;}
.advantage .dvantage_prove{width: 100%;text-align: center;}
.advantage>div:nth-of-type(1){margin-bottom: 58px;}
.advantage>div:nth-of-type(2){margin-bottom: 48px;}
.advantage .dvantage_bom p{margin-bottom: 32px;}
.advantage .dvantage_bom p:nth-of-type(2){line-height: 20px;}

.detailes_co li a{background:url(../images/thems/co_ri.png)no-repeat 88px 19px;padding-left: 108px !important;color: #3d3d3d !important;}

.burn_top{width: 100%;border-bottom: 1px solid #dfdfdf;float: left;}

.burn_top h3{font-weight: 500;font-size: 18px;color: #073070;padding-bottom: 21px;}
.burn_co{width: 100%;float: right;margin-top: 37px;}
.burn_title{width: 100%;text-align: center;}
.burn_title h2{padding-bottom: 27px;border-bottom: 1px dashed #e3e3e3;font-size: 20px;color: #2f2f2f;}
.burn_co .top_title_warp{width: 100%;text-align: center;}
.burn_co .top_title_warp .top_title{margin-top: 38px;margin-bottom: 58px;}
.burn_co .top_title_warp .top_title li{display: inline-block;margin-right: 34px;color: #999999;}
.burn_co .top_title_warp .top_title li span{padding-left: 21px;background: url(../images/thems/eye.png)no-repeat left;}
.burn_img{width: 100%;text-align: center;margin-bottom: 19px;}
.burn_img p{margin-bottom: 38px;color: #5d5d5d;}
.burn_group{}
.burn_group dl{margin-bottom: 24px;}
.burn_group dt{color: #266db6;line-height: 23px;}
.burn_group dd{color: #747474;line-height: 26px;padding-left: 12px;background: url(../images/thems/groeth_dian.jpg)no-repeat left;}
.burn_group p{color: #747474;}
.burn_group .special dd{margin-left: 15px;}

.show_main{width: 100%;}
.show_top{clear: both;}
.show_top p{color: #8a8a8a;}
.show_top p:first-child{line-height: 25px;padding-top: 13px;}
.show_top p:last-child{line-height: 34px;margin-bottom: 28px;}
.eg_list{}
.eg_list ul{}
.eg_list ul li{text-align: center;float: left;margin-right: 3.13%;margin-bottom: 8.13%;background: #f5f5f5;width: 31.2%;}
.eg_list ul li:nth-child(3n){margin-right: 0;}
.eg_list ul li a{}
.eg_list ul li img{width: 100%;}
.eg_list ul li p{font-size: 20px;color: #171717;padding: 22px 0 27px;}

.show_top_introduce{clear: both;}
.show_top_introduce p{color: #8a8a8a;line-height: 24px;margin-bottom: 34px;}
.show_top_introduce p:first-child{padding-top: 15px;}

.production_base{width: 100%;clear: both;}
.production_base p:first-child{margin-bottom: 30px;padding-top: 45px;}
.production_base p:nth-of-type(2){padding-bottom: 20px;}
.production_base p{line-height: 24px;color: #8d8d8d;}
.production_base .production_base_img{width: 100%;text-align: center;}

.quality{width: 100%; clear: both;}
.quality p{line-height: 24px;color: #808080;}
.quality p:first-child{padding: 15px 0;}
.quality p:nth-of-type(2){padding-bottom: 52px;}
.quality>div{width: 100%;margin-bottom: 76px;float: right;}
.quality>div h4{font-size: 20px;color: #0043a1;width: 100%;}
.quality>div:nth-of-type(1) h4{margin-bottom: 50px;}
.quality>div:nth-of-type(2) h4{margin-bottom: 26px;}
.quality>div>div{width: 100%;text-align: center;}
.quality_foo{clear: both;}
.quality_foo img{margin-left: 150px!important;}
.quality>div>div img{float: left;margin-left: 60px;}


.screen{float: right;}
.screen select:nth-of-type(1){margin-right: 10px;}
.screen select{padding-right: 40px;border-radius: 4px;color: #787978;}
.jssd{width: 100%;clear: both;padding-top: 10px;}
.jssd ul{margin-bottom: 35px;}
.jssd ul li{padding: 20px 0 18px 21px;border-bottom: 1px dashed #dddddd;background: url(../images/dian.png)no-repeat left 31px;}
.jssd ul li:last-child{border-bottom:none}
.jssd ul li a{color: #777777;}
.jssd ul li{color: #777777;}
.jssd ul li a:hover{color: #436192;}
.jssd ul li span{float: right;}

.news_co h2{padding-bottom: 27px;border-bottom: 1px solid #e3e3e3;font-size: 20px;}
.news_co .top_title_warp{width: 100%;text-align: center;}
.news_co .top_title_warp .top_title{margin-top: 38px;margin-bottom: 58px;}
.news_co .top_title_warp .top_title li{display: inline-block;margin-right: 34px;color: #999999;}
.news_co .top_title_warp .top_title li span{padding-left: 21px;background: url(../images/thems/eye.png)no-repeat left;}
.new_content{width: 100%;}
.new_content p{line-height: 24px;margin-bottom: 30px;color: #828282;}
.new_content .new_content_img{width: 100%;text-align: center;margin: 36px 0;}

.Grow_up{width: 100%;clear: both;}
.Grow_up_main{padding: 5% 0;}
.Grow_up_main li{width: 29.1%;margin-right: 6.3%;float: left;margin-bottom: 4%;}
.Grow_up_main li:nth-child(3n){margin-right: 0%;}
.Grow_up_main .Grow_up_text p:first-child{font-size: 14px;}


.Healthy_screen{float: right;color: #939393;}
.Healthy_screen span{margin-right: 4px;}
.Healthy_screen select{border-radius: 4px;color: #787978;}
.Healthy{width: 100%;clear: both;}
.Healthy ul{}
.Healthy ul li{width: 100%;padding: 45px 0;border-bottom: 1px solid #dfdfdf;float: left;}
.Healthy .Healthy_img{width: 35.11%;}
.Healthy .Healthy_con{width: 60.9%;}
.Healthy_con dl{}
.Healthy_con dt{font-size: 20px;line-height:47px ;color: #383838;}
.Healthy_con dd{}
.Healthy_con dd.update_time{color: #b1b1b1;line-height: 38px;margin-bottom: 7px;padding-left: 36px;background: url(../images/watch.png)no-repeat left;}
.Healthy_con dd.Publish_time{color: #838383;line-height: 28px;}

.Activity_report{width: 100%}
.Activity_report p{line-height: 20px;color: #7c7c7c;}
.Activity_report_img{width: 100%;text-align: center;padding: 30px 0;}

.process>div{margin-bottom: 27px;width: 100%;}
.process h4{margin-bottom: 10px;font-size: 16px;color: #236cb5;line-height: 60px;border-bottom: 1px solid #e6e6e6;width: 100%;}
.process p{line-height: 30px;color: #878787;}


.Manager{clear: both;padding-top: 26px;}
.Manager dl{margin-bottom: 29px;color: #9a9a9a;}
.Manager dt{line-height: 29px;}
.Manager dd{line-height: 29px;margin-left: 15px;}

.Cam_Rec{width: 100%;margin-bottom: 88px;}
.Cam_Rec_list{width: 100%;margin: auto;}
.Cam_Rec_list a{float: left;width: 23.1%;margin-right: 2.5%;text-align: center;}
.Cam_Rec_list a:nth-child(4n){margin-right: 0;background: #4b4f99;}
.Cam_Rec_list a img{padding-top: 67px;}
.Cam_Rec_list a p{padding:36px 0;margin-bottom: 10px;font-size: 24px;color: #fff;}
.Cam_Rec_list a:nth-of-type(1){background: #3390ce;}
.Cam_Rec_list a:nth-of-type(2){background: #94cf34;}
.Cam_Rec_list a:nth-of-type(3){background: #ff6333;}


.query_list{width: 100%;}
.query_list>a{display: inline-block;margin-bottom: 28px;width: 100%;}
.query_list dl{width: 100%;}
.query_list dt{line-height: 49px;}
.query_list dt strong{font-size: 16px;color: #424242;}
.query_list dt span{color: #a0a0a0;margin-left: 30px;}
.query_list dt a{color: #1865b1;float: right;}
.query_list dd{line-height: 24px;color: #8b8b8b;}

.csd_detailes{}
.csd_detailes .csd_detailes_top{}
.csd_detailes_top h3{width: 100%;color: #183e7a;font-size: 16px;line-height: 60px;border-bottom: 1px solid #dfdfdf;}


.csd_detailes_co{width: 100%;}
.csd_detailes_co dl{background: #f5f5f5;margin: 26px 0;}
.csd_detailes_co dt{margin-bottom: 10px;padding-left: 20px;padding-right: 12px;width: 100%;line-height: 34px;padding-top: 10px;border-bottom:1px dashed #e0e0e0;}
.csd_detailes_co dt strong{color:#2e2e2e;}
.csd_detailes_co dd{color: #777777;line-height: 24px;margin-bottom: 5px;padding-left: 20px;padding-right: 26px;}
.csd_detailes_co dd:last-child{padding-bottom: 66px;}
.csd_detailes_co .detailes_rl{display: inline-block;float: right;}
.detailes_rl>span{color: #878588;margin-right: 20px;}
.detailes_rl .csd_watch{padding-right: 20px;background: url(../images/eye.png)no-repeat right;}
.detailes_rl .csd_share{color: #878588;padding-right: 25px;background: url(../images/thems/csd_share.jpg)no-repeat right;}
.detailes_rl span i{margin-right: 20px;}
.detailes_rl .thumbs-up{position: relative;}
.heart {
	    background: url(../images/thems/web_heart_animation.png);
	    background-position: left;
	    background-repeat: no-repeat;
	    height: 34px;
	    width: 66px;
	    cursor: pointer;
	    position: absolute;
	    right: -44px;
	    background-size: 2900%;
    }
.heart:hover, .heart:focus{background-position: right;}
@-webkit-keyframes heartBlast {
0% {
    background-position: left;
}
100% {
    background-position: right;
}
}

@keyframes heartBlast {
    0% {
    background-position: left;
}
100% {
    background-position: right;
}
}
.heartAnimation {
display: inline-block;
-webkit-animation-name: heartBlast;
animation-name: heartBlast;
-webkit-animation-duration: .8s;
animation-duration: .8s;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-timing-function: steps(28);
animation-timing-function: steps(28);
background-position: right;
}

.tab_co{ width:100%;}
.tab_co .tab{ overflow:hidden;background:#f5f5f5;min-height: 48px;}
.tab_co .tab a{ display:block; padding:9px 6px 9px 9px; float:left;color:#296fb6;margin-top: 5px;margin-left: 15px;}
.tab_co .tab a:hover{ background:#0055aa; color:#e5edf6;}
.tab_co .tab a.on{ background:#0055aa; color:#e5edf6;}
.tab_co .content{ overflow:hidden;margin-bottom: 19px;margin-top: 30px;}
.tab_co .content li{float:left;}
.tab_co .content li p{line-height: 24px;color: #848484;}
.tab_co .content_img{ overflow:hidden; min-height:508px;}
.tab_co .content_img li{float:left;text-align: center;}

/*人才发展*/
.r-container {width: 100%;}
.r-container-text {clear: both;}
.r-container-text p {color: #797979;font-size: 14px;}
.r-container-text p:first-child {padding-top: 50px;}
.r-container-text p:last-child {margin-top: 45px;}
.show-time {width: 100%;margin-top: 25px;}
.show-time img {width: 100%;height: 100%;}
/*招聘流程*/
.zp-container {width: 100%;padding-bottom: 150px;}
.zp-container-text {clear: both;margin-top: 50px;}
.slogan {width: 100%;padding-top: 30px;display: block;padding-bottom: 20px;font-size: 18px;border-bottom: 1px dashed #ECECEC;color: #0055aa;}
.zp-text {width: 100%;}
.zp-text a {display: block;color: #898989;font-size: 16px;margin-top: 20px}
.zp-text a:first-child {color: #a2a2a2;font-size: 12px;}
.zp-text1 {text-indent: 4em;}
/*社会招聘*/
.s-container {max-width: 1180px;margin: auto;}
.s-ctext1 {width: 100%;margin-top: 30px;}
.text-color {color: #6592d5;font-size: 16px;}
.search {width: 580px;height: 34px;border: 1px solid #6592d5;position: relative;margin-top: 10px;}
.search input {width: 100%;height: 100%;}
.s-img {position: absolute;top: 0;right: 0;}
.word {width: 100%;padding-bottom: 30px;border-bottom: 1px solid #e5e5e5;position: relative;}
.work {width: 100%;margin-top: 20px;}
.work a {display: inline-block;margin-left: 10px;font-size: 14px;}
.work a:nth-of-type(2) {color: #6592d5;}
.work1 {
	width: 50%;
	border: 1px solid gray;
	position: absolute;
	z-index: 10;
	left: 29%;
	top: 30%;
	padding-top: 20px;
	padding-bottom: 25px;
	background: #F5F5F5;
	display: none;
}
.ctrl {display: block;}
.bt {width: 90%;margin: auto;text-align: right;display: block;}
.work1 ul {width: 90%;margin: auto;font-size: 0;}
.work1 ul li {width: 33.3%;margin-top: 15px;font-size: 14px;text-align: center;display: inline-block;color: black;}
.work1 ul li:hover {color: #007DCD;}
.work2 {
	width: 50%;
	border: 1px solid gray;
	position: absolute;
	z-index: 10;
	left: 41%;
	top: 80%;
	padding-top: 20px;
	display: none;
	padding-bottom: 25px;
	background: #F5F5F5;
}
.bt2 {width: 90%;margin: auto;text-align: right;display: block;}
.work2 ul {width: 90%;margin: auto;font-size: 0;}
.work2 ul li {width: 33.3%;margin-top: 15px;font-size: 14px;text-align: center;display: inline-block;color: black;}
.work2 ul li:hover {color: #007DCD;}
.type {margin-top: 30px;width: 100%;}
.type input {margin-left: 15px;vertical-align: text-bottom;margin-bottom: 2px;}
.type a {font-size: 12px;color: #666666;}
.s-ctext3 {width: 100%;}
.s-list {width: 100%;height: 40px;font-size: 0;background: #f5f5f5;margin-top: 20px;}
.s-list a {width: 16%;line-height: 40px;font-size: 14px;text-align: center;color: #636363;display: inline-block;}
.s-list a:first-child {text-align: left;text-indent: 2em;margin-right: 4%;}
.s-list1 {width: 100%;height: 40px;font-size: 0;margin-top: 10px;}
.s-list1 a{width: 16%;line-height: 40px;font-size: 14px;text-align: center;color: black;display: inline-block;}
.s-list1 a:first-child{text-align: left;text-indent: 2em;width: 20%;}
.s-list1 a:last-child{width: 60px;height: 30px;line-height: 30px;color: white;background: #0055aa;margin-left: 5.5%;}
.s-list1 a:last-child:hover{color: white;}
.s-list1 a:hover {color: #0053a9;}
/*公司发展*/
.f-container {width: 100%;padding-top: 30px;padding-bottom: 100px;}
.up{width: 100%;text-align: center;margin-top: 30px;}
.f-cimg1{width: 100%;text-align: center;margin-top: 7px;}
.f-cimg2{width: 100%;text-align: center;margin-top: 15px;margin-bottom: 15px;position: relative;}
.c2text{position: absolute;width: 50%;top: 0;left: -2%;}
.c2text>a{display: block;text-align: right;}
.c2text1{color: #0046a2;font-weight: bold;}
.c2text2{font-size: 14px;color: #8b8b8b;margin-top: 10px;}
.f-cimg3{width: 100%;text-align: center;position: relative;margin-bottom: 15px;margin-top: 15px;}
.c2rightext{position: absolute;width: 50%;top: 0;left: 52%;}
.c2rightext>a{display: block;text-align: left;}
.c2rightext1 {color: #dd9212;font-weight: bold;}
.c2rightext2{font-size: 14px;color: #8b8b8b;margin-top: 10px;}
.v2{width: 100%;text-align: center;}
.v3{width: 100%;text-align: center;}
.v4{width: 100%;text-align: center;}
.v5{width: 100%;text-align: center;}
.down{width: 100%;text-align: center;margin-top: 30px;}
/*人才理念*/
.r-container{width: 100%;}
.r-container-text{clear: both;}
.r-container-text p{color: #8a8a8a;}
.r-container-text p:first-child{line-height: 25px;padding-top: 50px;}
.r-container-text p:nth-of-type(2){margin-top: 40px;}
.r-container-text p:nth-of-type(3){margin-top: 45px;}
.r-container-text p:nth-of-type(4){margin-top: 45px;}
.r-container-text p:last-child {line-height: 34px;margin-top: 45px;margin-bottom: 28px;}
.r-container-text>div{width: 100%;margin-top: 40px;}
.r-container-text>div>img{width: 100%;}
.r-container-text>p>strong{color: #737373;}
/*//人才招聘详情页*/
.zpxx-container{max-width: 1180px;margin: auto;}
.zpxx-ctext1{width: 100%;border: 1px solid #e5e5e5;padding-top: 30px;padding-bottom: 27px;}
.ztbox1{width: 90%;margin-left: 30px;}
.blue{font-size: 18px;color: #0155aa;display: block;}
.zpxx-list{width: 75%;font-size: 0;}
.zpxx-list li{width: 33.3%;display: inline-block;text-align: left;color: black;font-size: 14px;margin-top: 27px;}
.zpxx-list li a{color: #777777;}
.zpxx-ctext2{width: 100%;border: 1px solid #e5e5e5;padding-top: 30px;border-top: none;padding-bottom: 40px;}
.zpxx-list2{width: 100%;}
.zpxx-list2 li{font-size: 14px;color: black;margin-top: 20px;}
.one{margin-top: 22px;}
.two{margin-top: 30px;}
.zpxx-ctext3{width: 100%;margin-top: 40px;margin-bottom: 60px;}
.ct3box{width: 80%;margin: auto;
.ct3box a {width: 20%;font-size: 14px;height: 40px;line-height: 40px;color: white;background: #0055aa;text-align: center;margin-left: 4%;display: inline-block;}
/*宣讲行程*/
.x-container{width: 100%;padding-bottom: 75px;}
.x-ctext1:first-child{padding-top: 20px;}
.x-ctext1{width: 100%;margin-top: 60px;}
.x-ctbox1{width: 50%;display: inline-block;}
.x-a1{font-size: 18px;color: #0055aa;}
.x-a2{font-size: 14px;color: #a2a2a2;margin-top: 15px;}
.little{font-size: 12px;color: #A2A2A2;}
.x-ctbox2{width: 250px;height: 120px;border: 1px solid gray;float: right;}
.x-ctbox2 img{width: 100%;height: 100%;}
/*校园招聘职位*/
.xz-container{max-width: 1180px;margin: auto;}
.xz-ctext1{width: 100%;}
.xz-ctext1 select{width: 20%;height: 50px;border: 1px solid #0055aa;border-radius: 4px;margin-left: 2.0%;}
.xz-ctext1 select:first-child{margin-left: 0px;}
select {
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	border: solid 1px #000;
	/*很关键：将默认的select选择框样式清除*/
	/*appearance:none;
-moz-appearance:none;
/*将背景改为红色*/
	background: white;
	/*加padding防止文字覆盖*/
	padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
/*select::-ms-expand { display: none; }*/
.xz-a1{width: 10%;height: 50px;line-height: 50px;text-align: center;color: white;font-size: 14px;float: right;display: block;background: #3f51b5;border-radius: 2px;}
.xz-a1:hover{color: white;}
.xz-ctext2{width: 100%;margin-top: 20px;background: #f6f6f6;padding-bottom: 15px;padding-top: 15px;}
.xz-text1{width: 96%;margin: auto;font-size: 26px;}
.now{font-size: 14px;color: white;height: 40px;line-height: 40px;width: 120px;float: right;text-align: center;background: #3f51b5;display: block;}
.now:hover{color: white;}
.xz-text2{width: 96%;margin: auto;margin-top: 25px;}
.xz-text2 p{font-size: 15px;color: #777777;text-indent: 2em;margin-top: 10px;}
.xz-text2 p:first-child{text-indent: 0em;}
.xz-text2 p:first-child>a{display: inline-block;height: 25px;line-height: 25px;}
.xz-a2{background: url(../images/zw1_06.png) no-repeat left center;text-indent: 2em;}
.xz-a3{background: url(../images/zw1_03.png) no-repeat left center;text-indent: 2em;margin-left: 100px;}
.xz-text2 p:nth-of-type(2){background: url(../images/zw_11.gif) no-repeat left center;}
.xz-a4 {font-size: 14px;color: black;float: right;}


/*校园招聘人才项目*/
.xm-container{width: 100%;padding-top: 70px;}
.xm-ctext1{width: 100%;}
.xm-ctbox1{width: 49%;height: 280px;display: inline-block;border: 1px solid gainsboro;box-sizing: border-box;}
.xm-ctbox2{width: 49%;height: 280px;display: inline-block;border: 1px solid gainsboro;box-sizing: border-box;float: right;background: #0055aa;}
.xm-ctbox2>p{color: white;font-size: 14px;width: 87%;margin: auto;margin-top: 20px;height: 240px;vertical-align: top;}
.xm-ctext2{margin-top: 70px;font-size: 18px;color: #0049a4;padding-bottom: 20px;border-bottom: 1px dashed #e5e5e5;}
.xm-list1{width: 100%;font-size: 0;margin-top: 60px;}
.xm-list1 li{width: 33.3%;display: inline-block;text-align: center;}
.xm-list1 a {font-size: 14px;color: #898989;display: block;margin-top: 27px;}
.xm-list2 {width: 100%;font-size: 0;}
.xm-list2 li{width: 50%;text-align: center;display: inline-block;margin-top: 30px;}
.xm-list2 li a {display: block;width: 90%;margin-top: 20px;font-size: 14px;color: #909090;}
.xm-one{margin-top: 130px;}
.xm-list3 {width: 100%;font-size: 0;margin-top: 20px;}
.xm-list3 li {width: 20%;height: 300px;float: left;text-align: center;}
.xm-list3 li:nth-of-type(2){margin-top: 10px;}
.xm-list3 li:nth-of-type(4){margin-top: 10px;}
.xm-list3 li:nth-of-type(2)>img:nth-of-type(2){display: none;}
.xm-list3 li:nth-of-type(4)>img:nth-of-type(2){display: none;}
.xm-list3 li a {display: block;margin-top: 10px;font-size: 14px;color: #909090;}
.xm-list3 li>img:nth-of-type(2){margin-top: 10px;}
.xm-list3 li>img:nth-of-type(3){margin-top: 10px;}
.xm-list3 li>img:nth-of-type(4){margin-top: 10px;}
/*人才项目适配*/
