
.header{border-bottom: none !important;}
.n_left p{color: #777;line-height: 28px;}
.n_left_co{width: 520px;}
.n_right{position: absolute;left: 50%;background: #f1f3f3;}
.n_right_co{width: 36.5%;}

.news_tabs{margin-bottom: 20px;margin-left: 10%;margin-top: 80px;}
.news_tabs ol{height: 42px;}
.news_tabs li a{padding: 9px 16px;border: 2px solid #1a3f7b ;display: block;}
.news_tabs li{float: left;margin-right: 22px;color:#1a3f7b;cursor: pointer;}
.news_tabs li:last-child{margin-right: 0;}
.n_right ul{}
.About_us{margin-top: 80px;margin-bottom: 40px;}
.About_us h2{font-size: 36px;color: #000;}
.About_us .en_about{font-family: "times new roman";color: #999;font-size: 24px;}
/*<!--Product introduction-->*/
.product{height: 804px;background:url(../images/product/productbg.jpg)no-repeat center;}
.product_co{height: 804px;margin: 0 auto;width: 1180px;}
.product_top{height: 189px;text-align: center;}
.top_title{font-size: 36px;color: #fff;padding-top: 56px;font-weight: 500;margin-bottom: 16px;}
.en_top_title{color: #999;font-weight: 500;font-size: 24px;}
.product_co #ulList{height:534px;margin: 0 auto;}
.product_co #ulList li{position: relative;float: left;text-align: center;padding: 0;height: 50%;width: 33.333%;}
.product_co #ulList a{height: 276px;position: absolute;display: block;width: 100%;}
.product_co #ulList a img{margin: 42px auto 0;}
.product_co #ulList li .pro_title{font-size: 30px;color: #fff;}
.product_co #ulList li .pro_title_English{color: #fff;font-family: Times New Roman;font-size: 18px}
.pro_cc{position: absolute;top: 266px;left: 0;}
.product_co #ulList .ood a{left: 0;top: 258px;background: url(../images/product/probg_up.png) no-repeat;}
.product_co #ulList .ood a:hover{background: url(../images/product/prohover_up.png) no-repeat;}
.product_co #ulList .even a{left: 0;background: url(../images/product/probg_down.png) no-repeat;z-index: 1;}
.product_co #ulList .even a:hover{left: 0;background: url(../images/product/prohover_down.png) no-repeat;z-index: 1;}
/*phone*/
/*#ulList_mo .ood a{background: url(../images/product/probg_left_mo.png) no-repeat;background-size: 100% 100%;z-index: 1;position: absolute;left: 49%;}
#ulList_mo .even a{background: url(../images/product/probg_right_mo.png) no-repeat;z-index: 1;background-size: 100% 100%;position: absolute;right: 49%;}*/

#ulList_mo{width: 100%;}
#ulList_mo li{width: 100%;float: left;background: #1a3f7b;}
.ulList_mo_rl{background: url(../images/product/probg_left_mo.png)no-repeat;}
#ulList_mo li a{display: inline-block;position: absolute;left: -2.5%;}
.ulList_mo_right>a{left: 0!important;right: -2.5%;}
#ulList_mo img{width: 100%;}
#ulList_mo li>div{width: 50%;}
.ulList_mo_rl{position: relative;}
.ulList_mo_rl .ulList_mo_img1{}
.ulList_mo_rl .ulList_mo_img3{}
.ulList_mo_rl .ulList_mo_img2{position: absolute;width: 30% !important;left: 35%;top: 8%;}
.ulList_mo_rl p{position: absolute;color: #fff;width: 100%;text-align: center;}
.ulList_mo_rl p.pro_title_mo{top: 62%;}
.ulList_mo_rl p.pro_title_English_mo{top: 75%;}
/*phone*/
/*<!--Product introduction-->*/
.product_mobile{display: none;}
.list_mo li{float: left;}
.list_mo li .pro_mo{width: 50%;display: inline-block;}
.list_mo li a{width: 50%;display: inline-block;float: right;}
.list_mo li a img{}

#ulList_mo,.Clinical_mo{display: none;}

.Research{clear: both;}
/*Research & Development*/
.Research_top,.Commonweal_top{height: 189px;text-align: center;}
.Research_top .top_title,.Commonweal_top .top_title{color: #000;}
.Clinical_project,.Preclinical_project{height: 590px;position: relative;width: 50%;float: left;}
.Clinical_project{background:url(../images/product/Preclinicalbg.jpg)no-repeat;background-size: cover;}
.Preclinical_project{background:url(../images/product/Clinicalbg.jpg)no-repeat;background-size: cover;}
.Clinical_project_co,.Preclinical_project_co{position: absolute;width:50%;height:50%;background:url(../images/product/Clinical_project_co.png)no-repeat;}
.Clinical_project_co{left: 0;bottom: 0;}
.Preclinical_project_co{right: 0;top: 0;}
.Clinical_pc p.heng{background: #fff;width: 60px;height: 2px;margin-left: 30px;margin-bottom: 20px;}
.Clinical_pc .project{font-size: 30px;color: #fff;margin:84px 0 20px 30px;}
.Clinical_pc .en_project{font-size: 18px;color: #fff;margin-left: 30px;}
.Clinical_pc .pro{margin-bottom: 30px;}
.Clinical_pc .info{position: relative;margin-left: 30px;width: 35px;height: 35px;text-align: center;line-height: 35px;background: url(../images/product/info.png)no-repeat;display: inline-block;color: #fff;}
.Clinical_pc .info:hover{color: #e3e8ef;}
.Clinical_pc .info:visited{color: #e3e8ef;}
.Clinical_pc .info span{position: absolute;left:0;width: 35px;height: 35px;display: inline-block;
		transition: left 1s;
		-moz-transition: left 1s;	/* Firefox 4 */
-webkit-transition: left 1s;	/* Safari 和 Chrome */
		-o-transition: left 1s;	}
.Clinical_pc .info span:hover{left:10px;color: #e3e8ef;}

.Clinical_mo{}
.Clinical_mo ul{}
.Clinical_mo ul li{float: left;width: 100%;}
.Clinical_project_mo_img,.Preclinical_project_img{width: 57.3%;}
.Preclinical_project_mo,.Clinical_project_mo{width: 42.7%;position: relative;}
.Clinical_mo img{width: 100%;}
/*.Clinical_project_mo{background:url(../images/product/Clinical_project_co.png)no-repeat;background-size: 100% 100%;}
.Preclinical_project_mo{background:url(../images/product/Clinical_project_co.png)no-repeat;background-size: 100% 100%;}*/
.Clinical_mo p.heng{background: #fff;width: 16%;height: 2px;position: absolute;top: 36%;margin-left: 10%;}
.Clinical_mo .project{font-weight:500;font-size: 18px;color: #fff;position: absolute;top:18%;margin-left: 10%;}
.Clinical_mo .en_project{font-size: 12px;color: #fff;position: absolute;top: 40%;margin-left: 10%;}
.Clinical_mo .pro{position: absolute;top: 50%; margin-left: 10%;}
.Clinical_mo .info{margin-left: 10%;position: absolute;bottom:12%;width: 35px;height: 35px;text-align: center;line-height: 35px;background: url(../images/product/info.png)no-repeat;display: inline-block;color: #fff;}
.Clinical_mo .info:hover{color: #e3e8ef;}
.Clinical_mo.info:visited{color: #e3e8ef;}
.Clinical_mo .info span{position: absolute;left:0;width: 35px;height: 35px;display: inline-block;
		transition: left 1s;
		-moz-transition: left 1s;	/* Firefox 4 */
		-webkit-transition: left 1s;	/* Safari 和 Chrome */
		-o-transition: left 1s;	}
.Clinical_mo .info span:hover{left:10px;color: #e3e8ef;}
/*Research & Development*/
.ad{width: 100%;margin-top: 80px;}

/*Commonweal Activity*/
.Commonweal{margin-bottom: 60px;}
.Common_tabs{width: 100%;height: 186px;border-bottom: 1px solid #e5e5e5;margin-bottom: 40px;}
.Common_tabs ul{width: 1180px;height: 186px;margin: 0 auto;}
.Common_tabs ul li{float: left;}
.Common_tabs ul li:nth-of-type(1){margin-left: 78px;}
.Common_tabs ul li:nth-of-type(2){margin-left: 185px;}
.Common_tabs ul li:nth-of-type(3){margin-left: 213px;}
.Common_tabs ul li a{padding:32px 23px 54px;display: inline-block;text-align: center;}
.Common_tabs ul li a:hover{border-bottom:2px solid #000;}
.Common_active{border-bottom:2px solid #000;}
.Common_tabs ul li a p:first-child{font-size: 60px;color: #333;font-weight: 300;}
.Common_tabs ul li a p:last-child{color: #777;}
.slideBox{ overflow:hidden; zoom:1; position:relative;}
.parBd{width: 1180px;margin: 0 auto; margin-bottom: 32px;}
.parBd ul{ overflow:hidden; zoom:1;   }
.parBd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;margin-right: 40px;  }
.parBd ul li .pic{ text-align:center; }
.parBd ul li .pic img{ width:250px; height:180px; display:block; }
.parBd ul li .title a{ line-height:50px;color: #767676;   }
.parBd ul li .title a:hover{color: #0055aa;}
.the_more{text-align: center;width: 1200px;height: 60px;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;margin: 0 auto;}
.the_more a{color: #323232;line-height: 60px;}
.the_more a:hover{color: #0055aa;}
/*Commonweal Activity*/

.home_news { background: #ffffff;}
.home_news .top_all { margin-bottom: 3%;}
.home_news .news_com { max-width: 1180px; margin: auto;width: 100%;}
.home_news .news_com .n_left {width: 50%; float: left; position: relative; margin-bottom: 70px;}
.home_news .news_com .n_left .imgd { position: relative; margin-bottom: 21px; overflow: hidden;height:250px;}
.home_news .news_com .n_left .imgd i { display: block; padding-bottom: 25.89118198874296%;}
.home_news .news_com .n_left .imgd img {transition: 0.3s;}
.home_news .news_com .n_left .imgd img:hover {transform: scale(1.1);}
.home_news .news_com .n_left .imgd .ri { position: absolute; background: #0083c7;z-index: 9999; top: 0px; left: 0px;color: #fff; padding: 5px 10px; max-width: 99px;}
.home_news .news_com .n_left .imgd .ri i {font-size: 40px;font-weight: 700;height: 40px;line-height: 40px;width: 98%;margin: auto;display: block;text-align: center;overflow: hidden;}
.home_news .news_com .n_left .imgd .ri time {width: 98%;margin: auto; display: block; height: 20px;line-height: 20px;overflow: hidden;}

.home_news .news_com .n_left h4 {color: #333333;font-size: 18px;line-height: 30px;height: 30px;overflow: hidden;width: 100%;}
.home_news .news_com .n_left h4 a:hover {color: #0083c7;}
.home_news .news_com .n_left .more { width: 160px;height: 44px;display: block;text-align: center; line-height: 44px;color: #ea5504;margin-top: 46px;transition: 0.3s; border: 1px solid #ea5504;}
.home_news .news_com .n_left .more:hover {background: #fe9d00;color: #fff;}
.home_news .news_com .n_right {float: right;height: 738px;}
.home_news .news_com .n_right ul li .ri {width: 60px;height: 60px;float: left;background: #3e4146; text-align: center;margin-left: 10%;}
.home_news .news_com .n_right ul li .ri i {height: 40px;font-style: normal;font-size: 34px;display: block;color: #fff;}
.home_news .news_com .n_right ul li .ri time {font-size: 12px;display: block;color: #ececec;line-height: 20px;}
.home_news .news_com .n_right ul li .wen_nei {width: 75%;float: right;}
.home_news .news_com .n_right ul li .wen_nei h4 {font-size: 20px;height: 32px;color: #000; overflow: hidden;width: 99%;text-overflow: ellipsis;white-space: nowrap;}
.home_news .news_com .n_right ul li .wen_nei p {color: #767676;line-height: 28px;overflow: hidden;text-overflow: ellipsis; margin-bottom: 45px; max-height: 80px;}
.home_news .news_com .n_right ul li:last-child {border-bottom: none;}
.home_news .news_com .n_right ul li:hover .wen_nei h4 {color: #0083c7;}
